# Credit to Axieum for making the example mod that contains this workflow

name: Test

on:
  workflow_run:
    workflows:
      - Build
    types:
      - completed

jobs:
  build:
    name: Test

    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Set up JDK 16
        uses: actions/setup-java@v2
        with:
          java-version: 16
          distribution: adopt

      - name: Begin Gradle cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Autotest Server
        timeout-minutes: 10
        run: |
            mkdir run && echo "eula=true" >> run/eula.txt
            ./gradlew runServerTest --stacktrace
            ! grep -q FATAL run/logs/latest.log

      - name: Cleanup Gradle cache
        run: |
          rm -f ~/.gradle/caches/modules-2/modules-2.lock
          rm -f ~/.gradle/caches/modules-2/gc.properties